.not-found-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-container h1 {
    font-size: 90px;
    color: crimson;
    margin-bottom: 10px;
}

.not-found-container h2 {
    margin-bottom: 10px;
}

.not-found-container p {
    color: grey;
    margin-bottom: 25px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #1976d2;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #1528a8;
}